html,
body,
main {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    cursor: default;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    margin: 0;

    font-family: 'Lilita One', helvetica, arial, sans-serif;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 0.75em;
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 150px;
    }
}

.code {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 24px;
    font-family: monospace;
}

@media screen and (min-width: 600px) {
    .code {
        font-size: 42px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 100%;
    padding: 36px 36px 0 36px;
    box-sizing: border-box;

    font-size: 18px;
    font-family: sans-serif;
}

@media screen and (min-width: 600px) {
    .links {
        gap: 12px;
        max-width: 600px;
        padding-top: 18px;
        font-size: 20px;
    }
}

.link {
    display: flex;
    align-items: center;
    width: auto;
    color: white;
    text-decoration: none;
    background-color: #333;
    border-radius: 4px;
    padding: 20px 16px;
    min-width: 200px;
}

.link > span {
    flex-grow: 1;
    text-align: center;
    margin-left: -32px;
}

.hover {
    transition: color 0.25s ease;
}

.hover.cyan:hover {
    color: cyan;
}

.hover.pink:hover {
    color: magenta;
}

.link.hover:hover {
    color: white;
    background-color: #444;
    transition: background-color 0.25s ease;
}

#spotify {
    background-color: #1db954;
}

#spotify.hover:hover {
    background-color: rgb(46, 221, 107);
}
